*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
 --white:#ffff;
 --light-grey: #D5E1EF;
 --dark-navy: #1F314F;
 --grey:  #7D889E;
}

body{
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.contenedor{
    width: 32rem;
    height: 49.7rem;
    background-color: var(--white);
    border-radius: 1.6rem;
    padding: 1.6rem;
}

.imagen{
    width: 28.8rem;
    height: 28.8rem;
    border-radius: 1.6rem;
}

.contenedor h1{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color:var(--dark-navy) ;
    margin: 2rem 0 2rem 0;
}

.contenedor p{
    font-size: 1.7rem;
    text-align: center;
    color:var(--grey);

}
